@model Registration

@{
  ViewBag.Title = "title";
  Layout = "_Layout";
}

<div id="target">

  <div class="flex flex-col justify-center min-h-full py-1  sm:px-6 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-md">
      <h2 class="mt-6 text-3xl font-extrabold text-center text-gray-900">
        Register
      </h2>
    </div>
    <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
      <div class="px-4 py-8 bg-gray-50 shadow sm:rounded-lg sm:px-10">
        <div asp-validation-summary="All"></div>
        @{@(await Html.PartialAsync("_RegistrationForm", Model))}
      </div>
    </div>
  </div>
</div>
