@model PasswordValidation

<div>
  <div class="grid grid-cols-4 gap-x-2">
    @if (Model.PasswordScore == null)
    {
      <div class="border border-gray-300"></div>
      <div class="border border-gray-300"></div>
      <div class="border border-gray-300"></div>
      <div class="border border-gray-300"></div>
      <div class="col-span-4 text-right text-gray-400">too short</div>
    }
    @if (Model.PasswordScore <= -75)
    {
      <div class="border border-red-500"></div>
      <div class="border border-gray-300"></div>
      <div class="border border-gray-300"></div>
      <div class="border border-gray-300"></div>
      <div class="col-span-4 text-right text-gray-400">too short</div>
    }
    @if (Model.PasswordScore > -75 & Model.PasswordScore <= 0)
    {
      <div class="border border-orange-300"></div>
      <div class="border border-orange-300"></div>
      <div class="border border-gray-300"></div>
      <div class="border border-gray-300"></div>
      <div class="col-span-4 text-right text-gray-400">weak</div>
    }
    @if (Model.PasswordScore > 0 & Model.PasswordScore <= 100)
    {
      <div class="border border-blue-500"></div>
      <div class="border border-blue-500"></div>
      <div class="border border-blue-500"></div>
      <div class="border border-gray-300"></div>
      <div class="col-span-4 text-right text-gray-400">okay</div>
    }

    @if (Model.PasswordScore > 100)
    {
      <div class="border border-green-500"></div>
      <div class="border border-green-500"></div>
      <div class="border border-green-500"></div>
      <div class="border border-green-500"></div>
      <div class="col-span-4 text-right text-gray-400">strong</div>
    }

  </div>
</div>
